@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark &));

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

/* Smooth scrolling with offset to account for fixed navbar */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

@theme {
  --color-primary: #5044E5;
}
